* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

hr{
    height: 1px;
    border: 0;
    background-color: #E6E6E6;
}

input[type='email']{
    width: 240px;
    height: 40px;
    border-radius: 0;
    border: none;
    margin-right: -4px;
    padding-left: 15px;    
}

input[type='value']{
    color:#48555B;
    font-family: 'Open Sans', sans-serif;   
}

input[type='button']{
    width: 150px;
    height: 40px;
    background-color: #00A4E5;
    border: none;
    cursor: pointer;
    border-radius: 0px;
}
input[value]{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 13px;
    line-height: 15.23px;
}

.box{
    width: 1440px;
    margin: 0 auto;
}

.header{
    width: 1440px;
    height: 768px;
    margin: 0 auto;
    background-image: url("../img/bg.png");
}

.container_header{
    text-align: center;
}
.logo_heeader{
    padding-top: 40px;
    padding-bottom: 317px;
}
.title_header h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    font-weight: normal;
    line-height: 70.31px;
    letter-spacing: 5px;
    color:#fff;
}
.title_header p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color:#fff;
    font-size: 16px;
}
.down_title_header {
    padding-top: 220px;
    padding-bottom: 70px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    letter-spacing: 3.7px;
    color: #fff;
}
.nav__box{
    width: 940px;
    height: 65px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_button{
    list-style: none;
    display: flex;
    justify-content: right;
}
.nav_button li a{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: right;
    padding: 0 20px;
    font-size: 12px;
    color: #48555B;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.nav_button li a:hover{
    color: #00A4E5;
}

.about_box {
    width: 940px;
    margin: 0 auto;
    margin-top: 60px;
    padding-bottom: 120px;
}
.title_about{
    text-align: center;
    padding-bottom: 90px;
}
.title_about h2{
    font-family:'Open Sans', serif;
    font-style: 18px;
    letter-spacing: 2.3px;
    color: #48555B;
    padding-bottom: 10px;
}
.line_about {
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    margin: 0 auto;
}

.about_down{
    display: flex;
    justify-content: space-between;
}
.about_text{
    max-width: 405px;
}
.about_text h2{
    font-size: 20px;
    color:#48555B;
    font-family:'Open Sans', serif;
}
.about_text h2 samp{
    color:#00A4E5;
    font-size: 20px;
    font-family:'Open Sans', serif;
}
.about_text p{
    font-size: 13px;
    font-family:'Open Sans', serif;
    color: #48555B; 
    line-height: 23px;
    padding-top: 30px;
}
.cards {
    display: flex;
    justify-content: space-between;
}
.card{
    height: 224px;
    width: 140px;
    font-size: 18px;
    color:#fff;
    font-family:'Open Sans', serif;
    line-height: 40px;
    padding-top: 15px;
    padding-left: 15px;
    margin: 10px;
}
.card_PLAN {
    background-image: url(../img/Bitmap.png);
    max-width: 150px;
}
.card_MANAGE {
    background-image: url(../img/Bitmap\ \(1\).png);
}
.card_BUILD {
    background-image: url(../img/Bitmap\ \(2\).png);    
}
.services {
    width: 940px;
    margin: 0 auto;
    margin-bottom: 115px;
}
.up_services_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.header_title_services h2{
    font-size: 18px;
    font-family:'Open Sans', serif;
    color: #48555B;
    line-height: 21px;
    padding-bottom: 10px;
}
.line_services{
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
}

.lorem {
    max-width: 400px;
    font-size: 11px;
    color: #48555B;
    line-height: 19px;
    font-family:'Open Sans', serif;
}
.up_services_title a{
    width: 150px;
    height: 50px;
    background-color: #00A4E5;
    border-radius: 3px;
    color: #fff;
    font-family:'Open Sans', serif;
    font-size: 13px;
    text-decoration: none;
    font-weight: 500;
    line-height: 15.23px;
    padding: 15px 32px;
}
.cards_services {
    display: flex;
    justify-content: space-between;
}
.card_servis {
    width: 295px;
    height: 330px;
    border: solid 1px #E6E6E6;
    border-radius: 3%;
    padding: 35px 22px;
}

.card_servis h3{
    font-size: 16px;
    font-family:'Open Sans', serif;
    color: #48555B;
    line-height: 24px;
    padding-top: 25px;
    padding-bottom: 13px;
}

.card_servis p{
    font-size: 13px;
    font-family:'Open Sans', serif;
    color: #48555B;
    
}
.get-in-touch{
    width: 1440px;
    height: 498px;
    background-image: url(../img/bg1.png);
    display: flex;
    justify-content: center;
}
.something input{
    margin: 0 100px;
}
.something h2{
    font-size: 30px;
    line-height: 36px;
    color: #48555B;
    font-family:'Open Sans', serif;
    max-width: 350px;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 35px;
}
.newsletter{
    width: 1440px;
    height: 100px;
    background-color: #171819;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 685px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.content h2{
    font-size: 22px;
    color: #fff;
    font-family:'Open Sans', serif;
    letter-spacing: 0.85px;
}
